body{
    background: #BDBDBD;
}

/* ===== HERO TAGLINE ===== */

.hero-section {
    height: 100vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.55),
        rgba(0, 0, 0, 0.55)
    ),
    url('../designs/guide.jpg') center center / cover no-repeat;
}

/* Título principal */
.hero-title {
    font-size: clamp(3rem, 8vw, 6rem);
    letter-spacing: 2px;
}

/* Subtítulo */
.hero-subtitle {
    font-size: clamp(1.2rem, 3vw, 2rem);
    letter-spacing: 3px;
}
