<div class="card mb-3 w-100 border-0">
  <div class="row g-0 align-items-center">
    
    <div class="col-md-8 pe-5">
      <div class="card-body">
        <h2 class="card-title fw-normal"> <b> This First Heading </b> Will Catch Your Eye</h2>
        <p class="card-text fw-normal fs-5"> 
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima ea similique placeat numquam illum, accusantium quaerat doloribus necessitatibus quae dolorem ipsa perspiciatis dignissimos perferendis. 
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, repellat mollitia enim fugiat, beatae iusto cumque incidunt aperiam at non praesentium harum dolore quis nobis a illo magni natus officiis.
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos itaque vel sint reiciendis rem delectus sit accusamus laudantium eius, necessitatibus dolorem quod repudiandae consequuntur nihil, expedita dicta. Fugiat, soluta nobis.
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <img src="\website\assets\img\1.jpg" class="img-fluid" alt="walter white dibujo" style="width: 80%; height: 80%; border-radius: 320px">
    </div>

  </div>
</div>