<!-- your html code here 
<p>Hello, I'm contact.html</p>-->

<!-- SECCIÓN CONTACT -->
<section class="container my-5">
    <div class="row">
        <div class="col-12">
            <!-- TÍTULO -->
            <h2>Contact</h2>
            <p class="text-muted">
                Donec ullamcorper nulla non metus auctor fringilla.
                Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>
    </div>
    <!-- FORMULARIO CENTRADO -->
    <div class="row justify-content-center mt-4"><!--centra horizontal -->
        <div class="col-md-8"><!-- ancho medio como en la imagen -->
            <!-- CAJA GRIS -->
            <div class="p-4 bg-light border">
                <form>
                    <!-- EMAIL -->
                    <div class="row mb-3 align-items-center">
                        <div class="col-md-3 text-end">
                            <label class="form-label fw-bold">
                                Your E-mail
                            </label>
                        </div>
                        <div class="col-md-9">
                            <input type="email"
                                   class="form-control"
                                   placeholder="Your email">
                        </div>
                    </div>
                    <!-- MESSAGE -->
                    <div class="row mb-3">
                        <div class="col-md-3 text-end">
                            <label class="form-label fw-bold">
                                Your message
                            </label>
                        </div>
                        <div class="col-md-9">
                            <textarea class="form-control"
                                    rows="4"
                                    placeholder="Please enter your message here..."></textarea>
                        </div>
                    </div>
                    <!-- BOTÓN -->
                    <div class="row">
                        <div class="col-md-12 text-end">
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

</section>