<!-- your html code here 
<p>Hello, I'm the portfolio.html</p>-->
<!-- SECCIÓN PORTFOLIO -->
<section class="container my-5">

    <!-- TÍTULO -->
    <div class="row">
        <div class="col-12">
            <h2>Portfolio</h2>
            <p class="text-muted"> 
                Donec ullamcorper nulla non metus auctor fringilla.
                Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus magna.
            </p>
        </div>
    </div>

    <!-- FILA DE PROYECTOS -->
    <div class="row mt-4">

        <!-- PROYECTO 1 -->
        <div class="col-md-4">
            <!-- USE LOS IMAGENES DEL ARCHIVO CSS -->
            <img src="assets/img/big-project-image.png"
                class="img-fluid w-100"
                alt="Project Image">
            <h5 class="text-primary mt-3">Project Name</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>

        </div>

        <!-- PROYECTO 2 -->
        <div class="col-md-4">
            <img src="assets/img/big-project-image.png"
                class="img-fluid w-100"
                alt="Project Image">
            <h5 class="text-primary mt-3">Project Name</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>

        </div>

        <!-- PROYECTO 3 -->
        <div class="col-md-4">
            <img src="assets/img/big-project-image.png"
                class="img-fluid w-100"
                alt="Project Image">
            <h5 class="text-primary mt-3">Project Name</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </div>
    </div>

</section>


